@main("Pokerbase") {

    <div data-ng-controller="NavCtrl" class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav">
                    <li data-access-level="accessLevels.anon" active-nav><a href="/login">Log in</a></li>
                    <li data-access-level="accessLevels.anon" active-nav><a href="/register">Register</a></li>
                    <li data-access-level="accessLevels.user" active-nav><a href="/">Home</a></li>
                    <li data-access-level="accessLevels.user" active-nav><a href="/private">Private</a></li>
                    <li data-access-level="accessLevels.admin" active-nav><a href="/admin">Admin</a></li>
                    <li data-access-level="accessLevels.user"><a href="" data-ng-click="logout()">Log out</a></li>
                </ul>
                <div id="userInfo" data-access-level="accessLevels.user" class="pull-right">Welcome&nbsp;
                    <strong>{{user.username}}&nbsp;</strong>
                    <span
                    data-ng-class="{&quot;label-info&quot;: user.role.title == userRoles.user.title, &quot;label-success&quot;: user.role.title == userRoles.admin.title}"
                    class="label">{{user.role.title}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div data-ng-view="ng-view"></div>
        <div data-ng-bind="error" data-ng-show="error" class="alert alert-error"></div>
    </div>
    <!-- TODO replace with https ! -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-cookies.js"></script>

    <script src="@routes.Assets.at("javascripts/routingConfig.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/services.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
    <script src="@routes.Assets.at("javascripts/filters.js")"></script>
    <script src="@routes.Assets.at("javascripts/directives.js")"></script>

    <script type="text/ng-template" id="404">
    @partials.notfound()
    </script>
    <script type="text/ng-template" id="home">
    @partials.home()
    </script>
    <script type="text/ng-template" id="login">
    @partials.login()
    </script>
    <script type="text/ng-template" id="private">
    @partials.closed()
    </script>
    <script type="text/ng-template" id="admin">
    @partials.admin()
    </script>
    <script type="text/ng-template" id="register">
    @partials.register()
    </script>


}
